Facenda/Facenda/js/react/* linguist-vendored
babel.js linguist-vendored
react-dom.development.js linguist-vendored
react.development.js linguist-vendored
*.vsix linguist-vendored
canvasjs.min.js linguist-vendored
/react/SitoReactTosi/react.js linguist-vendored
/progettoWeb/website/static/head.php linguist-language=php
