body {
    min-height: 100vh;
    min-width: 100%;
    overflow-x: hidden;
}

.animated {
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    transition: height 1s ease;
}